@model PAVM
@{
    ViewData["Title"] = "Add";
	var action = Model.Id == 0 ? "Add" : "Edit";
}

<section class="dashboard">
	<h2>@action</h2>

	<form asp-area="Admin" asp-controller="PA" asp-action="AddEdit">
		<div class="floating-label-input">
			<input type="text" asp-for="Name" class="form__input" />
			<label class="label">Name</label>
		</div>

		<div class="floating-label-input">
			<input type="text" name="values" value="@ViewBag.Values" class="form__input" />
			<label class="label">Values</label>
		</div>

		<button type="submit" class="btn">@action</button>
	</form>
</section>


