@model List<CategoryName>
<ul class="nav__list">
	@foreach (var item in Model)
	{
		<li><a asp-area="" asp-controller="Category" asp-action="Details" asp-route-Id="@item.Id">@item.Name</a></li>
	}
</ul>


