@{
	ViewData["Title"] = "Mymobile - Մեր մասին";
}

@section head {
    	<meta name="description" content="Բարի գալուստ Mymobile՝ ձեր հուսալի գործընկերը ժամանակակից տեխնոլոգիաների աշխարհում: Մեր առաքելությունն է տրամադրել բարձրորակ սմարթֆոններ, գաջեթներ և աքսեսուարներ՝ ապահովելով որակ, հուսալիություն և հարմարավետություն: Շնորհակալություն, որ ընտրել եք մեզ!" />
	<meta name="keywords" content="Mymobile, տեխնոլոգիաներ, բջջային լուծումներ, սմարթֆոններ, գաջեթներ, աքսեսուարներ, հեռախոսներ, որակ, հուսալիություն, առաքում, մասնագիտական աջակցություն, նորարարական արտադրանքներ" />
    <link rel="stylesheet" href="~/assets/css/about-us.css"/>
}

<section class="about-us">
    <div class="container">
        <div class="about-us__title title">Մեր մասին</div>
        <div class="about-us__wrapper">
            <div class="about-us__welcome">
                <img src="~/assets/img/banner/hd.png" alt="myMobile"/>
           <div class="welcome__content">
                     <h1>
                        Բարի գալուստ <b>Home Delivery</b>: Մենք պարտավորվում ենք հեշտացնել ձեր կյանքը՝ տրամադրելով արագ, հուսալի և առանց դժվարությունների տնային առաքման ծառայություններ:
            </h1>
                <p>
                        Անկախ նրանից, թե դա մթերքներ են, առաջին անհրաժեշտության իրեր, թե ձեր սիրելի տեղական արտադրանքը, մենք դրանք խնամքով և ճշգրտությամբ բերում ենք ձեր դուռը:
                    </p>
                    <p>Մեր առաքելությունն է ապահովել հարմարավետություն, խնայել ձեր ժամանակը և ապահովել, որ առաքման յուրաքանչյուր փորձ գերազանցի ձեր սպասելիքները: Հաճախորդին առաջին մոտեցմամբ, կրքոտ թիմով և առաքման լայն ցանցով մենք այստեղ ենք՝ սպասարկելու ձեր կարիքները, երբ դուք մեր կարիքն ունենաք:</p>

                </div>
            </div>
           
            <div class="why-choose-us">
                <strong>Ինչու՞ ընտրել մեզ:</strong>
                <ul>
                    <li><b>Արագ և հուսալի.</b> Մենք առաքում ենք ժամանակին, ամեն անգամ:</li>
                    <li><b>Որակ և հուսալիություն.</b> Մենք աշխատում ենք միայն վստահելի ապրանքանիշերի և մատակարարների հետ՝ ապահովելու մեր հաճախորդների առավելագույն բավարարվածությունը:</li>
                    <li><b>Հարմարավետություն և սպասարկում.</b> մենք առաջարկում ենք առաքման ճկուն տարբերակներ և վճարման հարմար եղանակներ՝ մեզ հետ գնումները պարզ և հարմարավետ դարձնելու համար:</li>
                    <li></li>
                </ul>
            </div>
            <p>
                <b>Շնորհակալություն</b> մեզ ընտրելու համար: Մենք գնահատում ենք յուրաքանչյուր հաճախորդի և ձգտում ենք ձեր գնումների փորձը դարձնել հնարավորինս հաճելի և արդյունավետ: Եթե ​​ունեք հարցեր կամ առաջարկություններ, մի հապաղեք կապվել մեզ հետ, մենք միշտ պատրաստ ենք օգնել:
            </p>
        </div>
    </div>
</section>

