@model CategoryAddEditVM
@{
	ViewData["Title"] = "AddEdit";
}
@{
	var action = Model.Id == 0 ? "Add" : "Edit";
}

<section class="dashboard">
	<h2>@action @Model.Name</h2>

	<form asp-area="Admin" asp-controller="Category" asp-action="AddEdit" method="post">
		<input asp-for="Id" type="hidden" />

		<div class="floating-label-input">
			<input type="text" asp-for="Name" class="form__input" />
			<label class="label">Name</label>
		</div>

		<div class="floating-label-input">
			<input type="text" asp-for="Description" class="form__input" />
			<label class="label">Description</label>
		</div>

		@if (Model.Id != 0)
		{
			<div class="input-checkbox">
				<input type="checkbox" id="isDeleted" value="true" asp-for="IsDeleted">
				<label for="isDeleted">
					Delete
				</label>
			</div>
		}
		<button type="submit" class="btn">@action</button>
	</form>
</section>


