.category {
    padding: 30px 0;
    min-height: 680px;
}
.category .not-found {
    font-size: 30px;
    text-align:center;
    margin-right: 350px;
}
.category__wrapper {
    margin-top: 50px;
}

.category__filter {
    width: 20%;
    min-width: 350px;
    border-radius: 4px;
    padding: 20px 20px 5px 20px;
    margin-right: 40px;
    float: left;
    position: sticky;
    top: 100px;
    background: var(--white);
}

.filter__item span {
    font-weight: 700;
    color: #000;
    display: block;
    margin: 10px 0;
}

.filter__item div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    padding-left: 5px;
}

    .filter__item div input, .filter__item div label {
        cursor: pointer;
    }
    .category__filter .btn-green {
        width: 100%;
        text-align:center;
        margin-bottom: 5px;
    }
        .category__filter .btn-green:last-child {
            margin-bottom: 0;
        }
        .category__items {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }


.category__item {
    background: var(--white);
    text-align: center;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

    .category__item:hover {
        box-shadow: -4px 4px 49px 0px rgba(132,116,116,0.75);
        -webkit-box-shadow: -4px 4px 49px 0px rgba(132,116,116,0.75);
        -moz-box-shadow: -4px 4px 49px 0px rgba(132,116,116,0.75);
    }

    .category__item .item__image {
        width: 180px;
        max-height: 180px;
        margin: 0 auto;
    }

        .category__item .item__image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    .category__item .item__name {
        margin: 10px 0;
        font-weight: 700;
        font-size: 18px;
        flex: 1 1 auto;
    }

    .category__item .item__price {
        font-size: 20px;
        font-weight: 900;
        position: relative;
    }

        .category__item .item__price del {
            position: absolute;
            top: 10px;
            left: 0;
            font-size: 14px;
            color: red;
        }

        .category__item .item__price .discount {
            display: block;
            margin-top: 30px;
        }


    .category__item .item__discount {
        position: absolute;
        top: 0px;
        right: 0px;
        animation: discountAnimation 3s infinite linear;
        z-index: 1
    }

        .category__item .item__discount img {
            width: 50px;
            height: 50px;
        }

    .category__item.discount__image {
        position: relative;
    }

    .category__item .item__discount span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 14px;
    }

@keyframes discountAnimation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.category__item .item__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

    .category__item .item__buttons .btn-green {
        width: 50%;
    }

