.category {
    padding: 30px 0;
    min-height: 680px;
}

    .category .not-found {
        font-size: 30px;
        text-align: center;
    }

.category__wrapper {
    margin-top: 20px;
}

    .category__wrapper.horizontal {
        display: flex;
    }

.category__filter {
    width: 20%;
    min-width: 295px;
    border-radius: 4px;
    padding: 20px 20px 5px 20px;
    margin-right: 25px;
    float: left;
    position: sticky;
    top: 100px;
    background: var(--white);
    height: max-content;
}

.icon-filter {
    display: none;
    cursor: pointer;
}

.category__direction {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.category__filter-icon svg {
    width: 30px;
}

.category__direction svg {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
    cursor: pointer;
}

    .category__direction svg.active {
        background: #e4e4e4;
    }

.filter__item span {
    font-weight: 700;
    color: #000;
    display: block;
    margin: 10px 0;
}

.filter__item div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    padding-left: 5px;
}

    .filter__item div input, .filter__item div label {
        cursor: pointer;
    }

.category__filter .btn-green {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

    .category__filter .btn-green:last-child {
        margin-bottom: 0;
    }

.category__wrapper.vertical .category__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.category__wrapper.horizontal .category__items {
    overflow: hidden;
    margin-top: 9px;
}

.category__wrapper.vertical .category__columns {
    flex: 0 0 25%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.category__wrapper.horizontal .category__columns {
    display: flex;
    overflow: revert-layer;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 9px;
}



.category__wrapper.horizontal .category__item {
    flex-direction: row;
    width: 100vw;
    align-items: center;
    padding: 10px;
}

    .category__wrapper.horizontal .category__item:hover {
        background: #f5f3f3;
        transform: scale(1)
    }

.category__wrapper.horizontal .item__compare {
    left: auto;
    right: 20px;
    top: 10px;
}
.category__wrapper.horizontal .item__discount {
    left: -10px;
    right: auto;
}

.category__wrapper.horizontal .card .item .item__field {
    gap: 10px;
    text-align:center;
    flex-direction:column;
}
    .category__wrapper.horizontal .card .item .item__field.disc {
        max-width: 190px;
    }

.category__wrapper.horizontal .card .item del {
    top: auto;
    bottom: -20px;
}

@media (max-width: 1440px) {
    .category__wrapper.vertical .category__columns {
        flex: 0 0 33.333%;
    }
}

@media (max-width: 1200px) {
    .category__wrapper.vertical .category__columns {
        flex: 0 0 50%;
    }
    .category__wrapper.horizontal .card .item .item__image {
        width: 120px;
        height: 120px;
    }
    .category__wrapper.horizontal .card .item del {
       right: 0;
    }
}

@media (max-width: 992px) {
    .category {
        min-height: auto;
    }

        .category .not-found {
            font-size: 18px;
        }

    .icon-filter {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .category__wrapper.vertical .category__columns {
        flex: 0 0 33.333%;
    }

    .category__wrapper {
        margin-top: 30px;
    }

    .category__filter {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        border-radius: 0px;
        transition: left 0.3s ease;
        min-width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 1000;
    }

        .category__filter form {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }

        .category__filter .filter__color {
            flex: 1 1 auto;
        }



    .category__filter-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    .category__wrapper.active .category__filter {
        left: 0;
    }


    .filter__close {
        background: #fff;
        position: fixed;
        right: 10px;
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;
    }

    .category__wrapper.active .filter__close {
        display: block !important;
    }

    .filter__close svg {
        width: 30px;
    }
}


@media (max-width: 768px) {
    .category__wrapper.vertical .category__columns {
        flex: 0 0 49%;
        padding: 0 3px;
        margin-bottom: 6px;
    }

    .category__wrapper.vertical .category__items {
        margin: 0 -5px;
    }
    .category__wrapper.horizontal .category__item {
        flex-direction: column;
        align-items: stretch;
    }

    .category__wrapper.horizontal .card .item .item__field {
        flex-direction: row;
    }

        .category__wrapper.horizontal .card .item .item__field.disc {
            max-width: 100%;
        }

    .category__wrapper.horizontal .card .item del {
        bottom: -15px;
        font-size: 11px;
    }

    .category__wrapper.horizontal .card .item .item__image {
        width: 160px;
        height: 160px;
    }

    .category__wrapper.horizontal .card .item .item__field .field__title, .category__wrapper.horizontal .card .item .item__field span {
        font-size: 14px;
    }
    .category__item .item__buttons {
        gap: 4px;
    }

    .category__wrapper.horizontal .card .item .item__buttons {
        margin-top: 15px;
    }

        .category__wrapper.horizontal .card .item .item__buttons .btn-green {
            font-size: 14px;
        }
}


@media (max-width: 479px) {
    .category {
        padding-top: 10px;
    }
  
    .item__compare svg {
        width: 20px;
        height: 20px;
    }
    
}
