.home__banner {
    margin-bottom: 20px;
}
    .home__banner .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.top-sales {
    margin-bottom: 55px;
}

.top-sales__title {
    text-align: center;
}
.top-sales .swiper {
    padding: 25px 0;
}
.swiper {
    border-radius: 10px;
}
.swiper-button-next, .swiper-button-prev {
    color: var(--white);
    opacity: .7;
}

    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 15px;
        background: var(--green-secondary);
        padding: 10px;
        border-radius: 5px;
    }
.manufacturers {
    margin: 30px 0; 
}

    .manufacturers .img {
        width: 100%;
        height: 120px;
    }

        .manufacturers .img img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (max-width: 992px) {
            .manufacturers .img {
                height: 75px;
            }
        }

    @media (max-width: 768px) {
        .top-sales {
        margin-bottom: 20px;
    }
        .swiper-button-next:after, .swiper-button-prev:after, .top-sales__item .item__price del {
            font-size: 13px;
        }

    .swiper-button-next {
        right: 0 !important;
    }

    .swiper-button-prev {
        left: 0 !important;
    }
        
}



@media (max-width: 479px) {
    .manufacturers .img {
        height: 38px;
    }
}
