.home__banner {
    margin-bottom: 20px;
}

    .home__banner .swiper-slide {
        height: 472px;
    }

        .home__banner .swiper-slide img {
            width: 100%;
            height: 100%;
        }
        .top-sales {
            margin-bottom: 80px;
        }

.top-sales__title {
    margin-bottom: 25px;
    text-align:center;

}

.top-sales__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.top-sales__item {
    background: var(--white);
    text-align: center;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

    .top-sales__item:hover {
        box-shadow: -4px 4px 49px 0px rgba(132,116,116,0.75);
        -webkit-box-shadow: -4px 4px 49px 0px rgba(132,116,116,0.75);
        -moz-box-shadow: -4px 4px 49px 0px rgba(132,116,116,0.75);
    }

    .top-sales__item .item__image {
        width: 180px;
        margin: 0 auto;
    }

        .top-sales__item .item__image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .top-sales__item .item__name {
        margin: 10px 0;
        font-weight: 700;
        font-size: 18px;
        flex: 1 1 auto;
    }

    .top-sales__item .item__price {
        font-size: 20px;
        font-weight: 900;
        position: relative;
    }

        .top-sales__item .item__price del {
            position: absolute;
            top: 10px;
            left: 0;
            font-size: 14px;
            color: red;
        }

        .top-sales__item .item__price .discount {
            display: block;
            margin-top: 30px;
        }


    .top-sales__item .item__stars {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
    }

        .top-sales__item .item__stars svg {
            width: 15px;
            height: 15px;
        }

    .top-sales__item .item__discount {
        position: absolute;
        top: 0px;
        right: 0px;
        animation: discountAnimation 3s infinite linear;
        z-index: 1
    }

        .top-sales__item .item__discount img {
            width: 50px;
            height: 50px;
        }

    .top-sales__item.discount__image {
        position: relative;
    }

    .top-sales__item .item__discount span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 14px;
    }

@keyframes discountAnimation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.top-sales__item .item__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

    .top-sales__item .item__buttons .btn-orange {
        width: 50%;
    }






:root {
    --color-light: rgba(255, 255, 255);
    --color-dark: #202330;
    --color-transparent: rgba(255, 255, 255, 0);
}



.splide {
    max-width: 1200px;
    margin: 0 auto;
}

    .splide .splide__slide {
        position: relative;
        transform: scale(0.9);
        transition: transform 400ms;
    }

        .splide .splide__slide .card {
            position: relative;
            height: 100%;
        }

            .splide .splide__slide .card::before {
                content: "";
                display: block;
                background-color: transparent;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate(-20px, -20px);
                z-index: -2;
            }

    .splide .is-active {
        transform: scale(1);
    }
.splide__pagination__page.is-active {
    background: #625a5a !important;
}
    .splide__pagination {
    bottom: -28px !important;
}

.splide__arrow--prev svg {
    transform: scaleX(1) !important;
}
.splide__arrow svg {
    width: 30px !important;
    height: 30px !important;
    fill: transparent !important;
}
.splide__arrow {
    width: 50px !important;
    height: 50px !important;
}

.splide__arrow--prev {
    left: -5em !important;
}


.splide__arrow--next {
    right: -5em !important;
}