:root {
    --default-color: #f5f6f8;
    --white: #fff;
    --orange: #ff6117;
    --black: #7d7878;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--black);
    background:var(--default-color)
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}
.title {
    font-size: 26px;
}

main {
    margin-top: 154px;
}


.header {
    background: var(--orange);
    padding: 20px 0;
    color:var(--black);
    position:fixed;
    width:100%;
    top: 0;
    z-index: 99;
}

    .header a {
        color: var(--white);
    }

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 50px;
}

.header__right {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

    .header__right a {
        font-size: 20px;
        transition: all 0.3s ease
    }
        .header__right a:hover {
            opacity: .7
        }

        .header__search {
            max-width: 300px;
            width: 100%
        }

    .header__search input {
        padding: 15px 40px 15px 15px;
        border-radius: 5px;
        width: 100%
    }

.header__search {
    position: relative;
}

    .header__search .search__icon {
        position: absolute;
        right: 10px;
        top: 53%;
        transform: translateY(-50%)
    }

        .header__search .search__icon svg {
            width: 20px;
        }

.header__phone a {
    font-size: 24px;
}

.header__basket {
    display: block;
    position: relative;
}

    .header__basket svg {
        width: 50px;
        height: 50px;
    }

    .header__basket span.basket__count {
        position: absolute;
        top: -5px;
        right: -5px;
        background: var(--white);
        border-radius: 50%;
        display: block;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--orange);
        font-weight: 700;
        font-size: 14px;
    }

.nav {
    margin-top: 20px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

    .nav__list li a {
        color: var(--white);
        padding: 10px;
        display: block;
        font-size: 16px;
        border: 3px solid #fff;
        border-radius: 5px;
        transition: 0.3s ease all
    }
        .nav__list li a:hover {
            background-color: var(--white);
            color: var(--orange)
        }
